header,main,footer,h1,ul,li,div,img,a{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
header{
	background-color: #3A5B7C;
}
#head-txt{
	color: #fff;
	display: inline;
}
#main-nav{

	display: inline;
}
#main-nav ul{
	list-style: none;
	float: right;
	width: 35%;
}
#main-nav ul li{
	display: inline;
	float: left;
	padding: 2%;
}
#main-nav ul li a{
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
#main-nav:after{
	float: none;
	display: block;
	content: '';
	clear: both;
}
footer{
	background-color: #252652;
	color: #fff;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.table {
    padding: 7px;
    width: 95%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    th, td {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
