header,main,footer,h1,ul,li,div,img,a{
	margin: 0;
	padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
header{
	background-color: #0b1538;
    margin-bottom:2%;
    padding:10px;
}
#head-txt{
	display: inline;
}
#head-txt a {
    color: #f58634;
    text-decoration:none;
}

#main-nav{
    width: 49%;
    float: right;
}
#main-nav ul{
	list-style: none;
}
#main-nav ul li{
	float:left;
	padding: 2%;
}
#main-nav ul li a{
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
#main-nav ul li a:hover {
    color: #6D9CF1;
	transition: ease all;
}
#main-nav:after{
	float: none;
	display: block;
	content: '';
	clear: both;
} 

#Search{
    width: 35%;
    margin-right: 17px;
    float: left;
}
#SearchType{
    width: 44%;
    margin: 5px 0;
}
#Search:after{
	float: none;
	display: block;
	content: '';
	clear: both;
}

footer{
	background-color: #0b1538;
	color: #fff;
    padding: 2px;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.table {
    padding: 7px;
    width: 95%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#table-head{
    text-align:center;
}
th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
dt,dd{
    padding:0.3%;
}