@model ITSystem.ViewModels.Account.AccountLoginVM
@{
    ViewBag.Title = "Index";
}

<div class="wrapper">
    <h2>Wellcome</h2>

    <p>
        Wellcome to our Candidates Management System where you can collect information about all candidates that you are going to interview. By using this system you are able to write notes about avery candidate who wants to work with you.
    </p>
</div>