
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <h2>Wellcome</h2>

    <p>
        Wellcome to our Candidates Management System where you can collect information about all candidates that you are going to interview. By using this system you are able to write notes about avery candidate who wants to work with you.
    </p>
    
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputUsername" class="control-label col-xs-2">Username</label>
            <div class="col-xs-10">
                <input type="username" class="form-control" id="inputUsername" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Password</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>